<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestaurantService</display-name>
    <servlet-name>RestaurantService</servlet-name>
    <servlet-class>com.android.server.servlet.RestaurantService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestaurantService</servlet-name>
    <url-pattern>/RestaurantService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuService</display-name>
    <servlet-name>MenuService</servlet-name>
    <servlet-class>com.android.server.servlet.MenuService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuService</servlet-name>
    <url-pattern>/MenuService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartyMatchingService</display-name>
    <servlet-name>PartyMatchingService</servlet-name>
    <servlet-class>com.android.server.servlet.PartyMatchingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartyMatchingService</servlet-name>
    <url-pattern>/PartyMatchingService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewService</display-name>
    <servlet-name>ReviewService</servlet-name>
    <servlet-class>com.android.server.servlet.ReviewService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewService</servlet-name>
    <url-pattern>/ReviewService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePartyService</display-name>
    <servlet-name>CreatePartyService</servlet-name>
    <servlet-class>com.android.server.servlet.CreatePartyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePartyService</servlet-name>
    <url-pattern>/CreatePartyService</url-pattern>
  </servlet-mapping>
</web-app>